<!---->
<html>
  <head>
    <title><%= title%></title>
    <%- include('layout') -%>
  </head>
  <body id="spa" class="colorized-bg">

    <div class="modal fade" id="video-details-modal" tabindex="-1" role="dialog" aria-labelledby="video-details-label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="video-details-label"></h4>
          </div>
          <div id="video-details" class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id="video-details-play" type="button" data-dismiss="modal" class="btn btn-success" tabindex="1" autofocus>
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              Play
            </button>            
          </div>
        </div>
      </div>
    </div><!-- #videoPlaceHolder -->

    <div id="videoPlaceHolder" class="video-none">
      <button type="button" class="btn btn-primary" onclick="setupForVideoBrowse()">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Home
      </button>      
    </div><!-- #videoPlaceHolder -->

    <div id="container" class="container">
      <div class="col-xs-12">
        <div class="logo img-responsive"><img src="/images/maVOD.png" alt="maVOD"></div>
        <div id="spinner">
          <div class="video-loader center"></div>
          <h3 class="center">Preparing Your Videos! Please wait a moment...</h3>
        </div><!-- #spinner -->

        <div id="carouselPlaceHolder" class="hidden">        
          <nav class="navbar navbar-inverse">            
                <a class="navbar-form btn btn-primary" onclick="requestHistory()">
                  Viewing History <span id="historyCount" class="badge">0</span>
                </a>
            <div class="navbar-form btn btn-primary" id="history" data-container="body" role="button" data-toggle="popover" 
              data-placement="right" data-content="[Loading from DB...]">
            </div>  
          </nav>          
          <%- carousel%>
        </div><!-- #carouselPlaceHolder -->

        <h2 id="results"></h2>

      </div><!-- .col-xs-12 -->
    </div><!-- .container -->

    <!--JavaScript (placed at the end of the document so the pages load faster)-->
    <script src='<%=jqueryDist%>/jquery.min.js'></script>
    <script src='<%=bootstrapJS%>/bootstrap.min.js'></script>
    <script src='<%=componentsJS%>/tooltip.js'></script>
    <script src='<%=componentsJS%>/popover.js'></script>
    <script src='<%=jsLocal%>/mavodCarousel.js'></script>
    <script src='<%=jsLocal%>/mavodVideo.js'></script>
    <script src='<%=ajaxLocal%>/apiReq.js'></script>

  </body>
</html>