

<html>
  <head>
    <title>maVOD</title>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="media application for video-on-demand (mockup)">
    <meta name="author" content="Khaled Aboul Hosn">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/mavodCarousel.css'>
  </head>
  <body>

    <div class="container">
      <div class="col-xs-12">

        <div class="page-header">
            <h3>maVOD</h3>
            <p>media app for Video-On-Demand Demo</p>
        </div>
              
        
        <!--carousel-mavod -->     
        <div class="carousel slide" id="carousel-mavod">
            <div id="carousel-content" class="carousel-inner">
     
                            <!--Outer Loop Slide -->
                            <div class="item active">
                              <ul class="thumbnails">     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=1" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>10 Things I Hate About You</h4>
                            <p>A new kid must find a guy to date the meanest girl in school, the older sister of the girl he has a crush on, who cannot date until her older sister does.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>12 Years a Slave</h4>
                            <p>In the antebellum United States, Solomon Northup, a free black man from upstate New York, is abducted and sold into slavery.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=2" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>2 Guns</h4>
                            <p>A DEA agent and a naval intelligence officer find themselves on the run after a botched attempt to infiltrate a drug cartel. While fleeing, they learn the secret of their shaky alliance: Neither knew that the other was an undercover agent.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=3" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>2001: A Space Odyssey</h4>
                            <p>Humanity finds a mysterious, obviously artificial, object buried beneath the Lunar surface and, with the intelligent computer H.A.L. 9000, sets off on a quest.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=4" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>21 Jump Street</h4>
                            <p>A pair of underachieving cops are sent back to a local high school to blend in and bring down a synthetic drug ring.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Outer Loop Slide -->
                           
                            <!--Outer Loop Slide -->
                            <div class="item">
                              <ul class="thumbnails">     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=5" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>22 Jump Street</h4>
                            <p>After making their way through high school (twice), big changes are in store for officers Schmidt and Jenko when they go deep undercover at a local college.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=7" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>28 Days Later...</h4>
                            <p>Four weeks after a mysterious, incurable virus spreads throughout the UK, a handful of survivors try to find sanctuary.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=8" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>3 Days to Kill</h4>
                            <p>A dying CIA agent trying to reconnect with his estranged daughter is offered an experimental drug that could save his life in exchange for one last assignment.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=9" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>300</h4>
                            <p>King Leonidas and a force of 300 men fight the Persians at Thermopylae in 480 B.C.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=10" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>300: Rise of an Empire</h4>
                            <p>Greek general Themistokles leads the charge against invading Persian forces led by mortal-turned-god Xerxes and Artemisia, vengeful commander of the Persian navy.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Outer Loop Slide -->
                           
                            <!--Outer Loop Slide -->
                            <div class="item">
                              <ul class="thumbnails">     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=11" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>47 Ronin</h4>
                            <p>A band of samurai set out to avenge the death and dishonor of their master at the hands of a ruthless shogun.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=12" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>A Clockwork Orange</h4>
                            <p>In future Britain, charismatic delinquent Alex DeLarge is jailed and volunteers for an experimental aversion therapy developed by the government in an effort to solve society's crime problem - but not all goes according to plan.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=13" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>A Girl Walks Home Alone at Night</h4>
                            <p>In the Iranian ghost-town Bad City, a place that reeks of death and loneliness, the townspeople are...</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=14" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>A Million Ways to Die in the West</h4>
                            <p>As a cowardly farmer begins to fall for the mysterious new woman in town, he must put his new-found courage to the test when her husband, a notorious gun-slinger, announces his arrival.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>     
                                <li class="col-sm-3"><!--Inner Loop Box -->
                                  <div class="fff">
                                    <div class="thumbnail"><!--Pic -->
                                    <a href="#"><img src="http://lorempixel.com/214/317/?t=15" alt=""></a>
                                     
                                    </div> 
                                    <div class="caption"><!--Text -->
                            <h4>A Nightmare on Elm Street</h4>
                            <p>In the dreams of his victims, a spectral child murderer stalks the children of the members of the lynch mob that killed him.</p>
                            <a class="btn btn-mini" href="#">» Read More</a>
                           
                                    </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--Outer Loop Slide -->
                          
            </div>    
            <!--.control-box --> 
            <nav>
              <ul class="control-box pager">
                <li><a data-slide="prev" href="#carousel-mavod" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                <li><a data-slide="next" href="#carousel-mavod" class=""><i class="glyphicon glyphicon-chevron-right"></i></li>
              </ul>
            </nav>
            <!--.control-box -->
        </div>
        <!--carousel-mavod -->      
    

        <input id="search" type="search" placeholder="madov"/>
        <h2 id="results"></h2>

      </div><!-- .col-xs-12 -->
    </div><!-- .container -->

    <!--JavaScript (placed at the end of the document so the pages load faster)-->
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/javascripts/ajax/apiReq.js'></script>
    <script src='/javascripts/mavodCarousel.js'></script>

  </body>
</html>