
/* Video Pic in Carousel */
poster-img { 
    margin: auto;
    max-width:100%;     
    display: block;
    align-content: center;
    width: 100%;
}

/* Thumbnail Box */
a.thumbnail:focus { 
    background-color: honeydew;
    outline:none;
    border: 5px solid #c4e17f; 
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
    box-shadow: 0px 0px 5px ghostwhite; 
    -moz-box-shadow: 0px 0px 5px ghostwhite;
    -webkit-box-shadow: 0px 0px 5px ghostwhite;  
}
.thumbnails li> .fff .caption { 
    background:#fff !important; 
    padding:10px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px; 
}
ul.thumbnails { 
    margin-bottom: 0px;
}
.caption {
    margin-top: 0px;
    margin-bottom: 20px;
}
.caption h4 {
    color: #444;
}
.caption p {  
    color: #999;
}

/* Carousel Control */
.control-box {
    text-align: right;
    width: 100%;
}
.carousel-control{
    background: #666;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px 0px;
    position: static;
    height: 30px;
    width: 15px;
}

/* Mobile Only */
@media (max-width: 767px) {
    .page-header, .control-box {
        text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
        word-break: break-all;
    }
}

li { list-style-type:none;}

::selection { background: #ff5e99; color: #FFFFFF; text-shadow: 0; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }