body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hidden {
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.block {
  display: block;
  -webkit-animation: spin 2s linear ;
  animation: spin 2s linear;  
}
.none {
  display: none;
  -webkit-animation: spin 2s linear ;
  animation: spin 2s linear;
}
.center {    
  display: block;
  margin: auto;
  align-content: center;
  width: 100%;
}

.logo {
  margin: auto;
}

video#mavodVideo { 
  top: 0px;
  left: 0px;
  margin: auto; 
  width: auto; 
  height: auto;
  min-width: 100%; 
  min-height: 100%;
}

.large-input {
  text-align: center;
  width:500px;
  height: 70px;
  font-size:3.5em;
  border-radius:8px;
}

.video-loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #62c2e4;
  border-right: 16px solid #c4e17f;
  border-bottom: 16px solid #f0776c;
  border-left: 16px solid #fecf71;
  width: 200px;
  height: 200px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
